# Katalon Studio specific
/bin/
/Libs/
/Reports/
/settings/internal/
/.settings/

# Gradle
.gradle/
/build/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# OS-specific
.DS_Store
Thumbs.db

# IDE specific (optional)
*.iml
.idea/
.vscode/

# Java / JVM
*.class
*.jar
*.war
*.ear

# Katalon console output folder
console.properties

# Katalon generated testOps ID
testops.properties

# Katalon downloads folder
/Downloads/

# Katalon Plugin generated folders
/Plugins/

# Keystore files (optional, if sensitive)
*.keystore
*.jks
